h3 {
	font-weight: bold;
	font-size: calc(18px + (24 - 16) * (100vw - 400px) / (800 - 400));
}

.progressBar {
	position: absolute;
	height: 12px;
	background-image: url('../../assets/img/progress-bar.svg');
	border-radius: 0 20px 20px 0;
	width: 0;
	transition: 0.6s;
}
.progressBarContainer {
	position: relative;
	height: 12px;
	background: #e9ebf1;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.69),
		inset -2px -2px 15px rgba(255, 255, 255, 0.79),
		inset 2px 2px 15px rgba(10, 46, 82, 0.44);
}

.btnBack,
.btnNext {
	box-shadow: 2px 2px 5px rgba(10, 46, 82, 0.16),
		-8px -8px 40px rgba(255, 255, 255, 0.56), 8px 8px 15px rgba(0, 0, 0, 0.17);
	border-radius: 50px;
	background-image: url('../../assets/img/arrow.svg');
	height: 40px;
	width: 90px;
	background-repeat: no-repeat;
	background-size: 45px;
	border: none;
	background-position: center;
}

.btnNext {
	transform: scale(-1, 1);
	width: 190px;
	margin: 100px auto;
	cursor: pointer;
}
